*{
    margin: 0;
    padding: 0;
}

.main{
    height: 100vh;
    background: linear-gradient(to top, rgba(0, 0, 0, 0.5)50%, rgba(0, 0, 0, 0.5)50%), url("{{ url_for('static', filename='back.jpg') }}");
    background-position: center;
    background-size: cover;
    display: grid;
    grid-template-rows: 90vh 7vh;
    grid-template-columns: 1fr;
    grid-template-areas: "body" "nav";
    justify-content: center;
    text-align: center;
}

.body{
    grid-area: body;
    text-align: left;
    padding-left: 15% ;
    overflow: hidden;
}
.navbar{
    height: 75px;
    margin: auto;
}
.logo{
    color: #ff7200;
    font-size: 35px;
    font-family: Arial;
    padding-left: 20px;
    text-align: center;
    padding-top: 10px;
    margin-left:-15% ;
    margin-top: 5px
}

nav {
    grid-area: nav;
    display: flex;
    justify-content: space-evenly;
    text-align: center;
    align-content: center;
    margin-top: 20px;
}

a {
    text-decoration: none;
    color: #ff7200;
    font-size: 1.3rem;
    transition: 0.9s;
}

.nav1 {
    position: relative;
    padding-left: 20px;
}

.nav1::after {
    content: '';
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: #ff7200;
    transition: 0.3s;
}

.nav1:hover::after {
    display: none;
}

nav a::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    height: 2px;
    width: 0;
    background-color: beige;
    transition: width 0.3s ease;
}

nav a:hover::after {
    width: 100%;
}

a:hover {
    color: beige;
    transform: scale(1.2);
}
.search{
    width: 330px;
    float: left;
    margin-left: 270px;
}



.content{
    width: 1200px;
    height: auto;
    margin: auto;
    color: #fff;
    position: relative;
}

.content .par{
    padding-left: 20px;
    padding-bottom: 25px;
    font-family: Arial;
    letter-spacing: 1.2px;
    line-height: 30px;
}

.content h1{
    font-family: 'Times New Roman';
    font-size: 50px;
    padding-left: 20px;
    margin-top: 9%;
    letter-spacing: 2px;
}

.content .cn{
    width: 160px;
    height: 40px;
    background: #ff7200;
    border: none;
    margin-bottom: 10px;
    margin-left: 20px;
    font-size: 18px;
    border-radius: 10px;
    cursor: pointer;
    transition: .4s ease;
    
}

.content .cn a{
    text-decoration: none;
    color: #000;
    transition: .3s ease;
}

.cn:hover{
    background-color: #fff;
}

.content span{
    color: #ff7200;
    font-size: 65px
}

.form{
    width: 250px;
    height: 380px;
    background: linear-gradient(to top, rgba(0,0,0,0.8)50%,rgba(0,0,0,0.8)50%);
    position: absolute;
    top: -20px;
    left: 870px;
    transform: translate(0%,-5%);
    border-radius: 10px;
    padding: 25px;
}


::placeholder{
    color: #fff;
    font-family: Arial;
}


.liw{
    padding-top: 15px;
    padding-bottom: 10px;
    text-align: center;
}
.icons a{
    text-decoration: none;
    color: #fff;
}
.icons ion-icon{
    color: #fff;
    font-size: 30px;
    padding-left: 14px;
    padding-top: 5px;
    transition: 0.3s ease;
}
.icons ion-icon:hover{
    color: #ff7200;
}
#span{
    color: #ff7200; 
   font-size: 30px;
}
